*{
    margin:0;
    padding: 0;
    outline: 0;
    border: 0;
}

body{
    background-color: rgba(43, 43, 43, 0.65);
}

.drumsContainer{
    width: 700px;
    max-width: 960px;
    height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drums-sound {
    width: 40px;
    height: 40px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
    transition: all ease-in-out .042s;
    border-radius: 4px;
    border: 3px solid #aaa;
    box-shadow: 1px 1px 1px rgba(0,0,0,.65);
    background: #eaeaea;
}


.crash {
    margin-left: -550px;
    margin-top: -540px;
}

.ride {
    margin-left: -330px;
    margin-top: -540px;
}

.hihat-open {
    margin-right: -250px;
    margin-top: -460px;
}

.hihat-closed {
    margin-right: -430px;
    margin-top: -460px;
}

.mid-tom {
    margin-left: -210px;
    margin-top: -250px
}

.high-tom {
    margin-right: -110px;
    margin-top: -250px;
}

.snare {
    margin-right: -340px;
    margin-top: -170px;
}

.low-tom {
    margin-left: -420px;
}

.kick {
    margin-bottom: -150px;
    margin-right: -80px;
}